.container {
  background-color: #e29c1a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: whitesmoke;
  padding: 8vh 4vw;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form span:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.form form input {
  background-color: whitesmoke;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #e29c1a;
  width: 85%;
}
.form form input::placeholder {
  color: rgba(133, 131, 131, 0.678);
}

.form button {
  background-color: #e29c1a;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.form label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  font-size: 14px;
}

.form label img {
  width: 36px;
}

.form label img:active {
  height: 38px;
  width: 38px;
}
